@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&f[]=satoshi@300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: 'Clash Display', sans-serif;
    --font-body: 'Satoshi', sans-serif;
  }
  
  html, body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300 dark:bg-slate-950 dark:text-slate-50;
    font-family: var(--font-body);
    height: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
    font-family: var(--font-heading);
  }
}